<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foresee.com.foresee.springboot.testgroup.mapper.ModelMapper">
	<resultMap type="com.foresee.com.foresee.springboot.testgroup.dto.Model"
		id="BaseResultMap">
		<result jdbcType="VARCHAR" property="modelId" column="model_id" />
		<result jdbcType="VARCHAR" property="modelName" column="model_name" />
		<result jdbcType="VARCHAR" property="projectId" column="project_id" />
	</resultMap>
	
	<sql id="Base_Column_List">model_id, model_name,project_id</sql>
	
	
	<select id="selectModelByproid" parameterType="com.foresee.com.foresee.springboot.testgroup.dto.Model"
		resultMap="BaseResultMap">
		select  
		<include refid="Base_Column_List" />
		from model
	    where  project_id=#{projectId,jdbcType=VARCHAR}
	</select>
	
	</mapper>